.csvs-page {
  overflow-y: scroll;
  min-height: calc(100% - 90px);
  max-height: calc(100% - 90px);
  background: #e9d3b7;
  padding-bottom: 65px;
}

.float-buttons {
  position: absolute;
  bottom: 16px;
  right: 32px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  border: 1px solid;
  background: #e9d3b7;
  color: black;
  font-weight: bold;
}

td {
  padding: 0.5rem;
  border: 2px solid;
  text-align: center;
}

tr {
  padding: 0.5rem;
  border: 2px solid;
  text-align: center;
}

th {
  padding: 0.5rem;
  border: 2px solid;
  text-align: center;
  background-color: #00284f;
  color: white;
}

.import-export-buttons {
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 8px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #00284f;
  color: white;
}
