.view-requests-page {
  overflow-y: scroll;
  min-height: calc(100% - 90px);
  max-height: calc(100% - 90px);
  background: #e9d3b7;
  padding-bottom: 100px;
}

.float-buttons {
  position: absolute;
  bottom: 16px;
  right: 32px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  border: 1px solid;
  table-layout: fixed;
}

td {
  padding: 0.5rem;
  border: 2px solid;
  text-align: center;
  word-wrap: anywhere;
}

th {
  padding: 0.5rem;
  border: 1px solid;
  font-size: 17px;
  text-align: center;
  background-color: #00284f;
  color: white;
}

.status {
  width: 100%;
  background-color: #b7cde9;
  padding: 2px;
  border-radius: 5px;
}

.filter {
  margin: 8px;
  width: 360px;
  background-color: #00284f;
  border: 4px solid white;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  bottom: 16px;
  right: 32px;
}

.filterTextStatus {
  padding: 6px;
  color: white;
  margin-bottom: 10px;
}

.filterTextEmployees {
  padding: 6px;
  color: white;
}

.statusFilter {
  margin-left: 10px;
  position: absolute;
  right: 15px;
  width: 150px;
  padding: 6px;
  background-color: #b8c4d1;
  border-radius: 5px;
}
