.csvs-page {
  overflow-y: scroll;
  overflow-x: auto;
  max-height: 100%;
  min-height: 100%;
  padding-bottom: 90px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  border: 1px solid;
  table-layout: fixed;
}

td {
  padding: 0.5rem;
  border: 1px solid;
  text-align: center;
  word-wrap: anywhere;
}

th {
  padding: 0.5rem;
  border: 1px solid;
  font-size: 17px;
  text-align: center;
  background-color: #00284f;
  color: white;
}

.status {
  background-color: #b8c4d1;
  padding: 2px;
  border-radius: 5px;
}
