.csvs-page {
  overflow-y: scroll;
  overflow-x: auto;
  max-height: 100%;
  min-height: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  border: 1px solid;
  table-layout: fixed;
}

td {
  padding: 0.5rem;
  border: 1px solid;
  text-align: center;
  word-wrap: anywhere;
}

th {
  padding: 0.5rem;
  border: 1px solid;
  text-align: center;
  background-color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  color: white;
}
