.employees-page {
  overflow-y: scroll;
  min-height: calc(100% - 90px);
  max-height: calc(100% - 90px);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  border: 1px solid;
}

td {
  padding: 0.5rem;
  border: 1px solid;
  text-align: center;
}

th {
  padding: 0.5rem;
  border: 1px solid;
  text-align: center;
  background-color: #00284f;
  color: white;
}
