.context-menu-in {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 33%;
  height: 80%;
  animation: slide-in 1s;
}

.context-menu-button {
  border: 2px solid black;
  border-radius: 16px;
  background: #7089a2;
  color: white;
  width: 100%;
  height: 30%;
  top: 35%;
  position: relative;
  box-shadow: 5px 5px 2px 1px rgb(0 0 0 / 20%);
}

.context-menu-out {
  position: absolute;
  top: 10%;
  right: -28%;
  width: 33%;
  height: 80%;
  animation: slide-out 1s;
}

.context-menu-start {
  position: absolute;
  top: 10%;
  right: -28%;
  width: 33%;
  height: 80%;
}

.context-menu-divider-content {
  border: 2px solid black;
  border-radius: 16px;
  overflow: hidden;
  background: #b8c4d1;
  position: relative;
  box-shadow: 5px 5px 2px 1px rgb(0 0 0 / 20%);
}

.context-menu-title-box {
  position: relative;
  top: 0px;
  background: #7089a2;
  height: 90px;
}

.context-menu-title {
  text-align: center;
  font-size: 55px;
}

@keyframes slide-in {
  0% {
    right: -28%;
  }
  100% {
    right: 5%;
  }
}

@keyframes slide-out {
  0% {
    right: 5%;
  }
  100% {
    right: -28%;
  }
}

.context-menu-divider-content-reselect {
  border: 2px solid black;
  border-radius: 16px;
  overflow: hidden;
  background: #b8c4d1;
  position: relative;
  box-shadow: 5px 5px 2px 1px rgb(0 0 0 / 20%);
  animation: flash 1s;
}

.context-menu-divider-content-reselect-alt {
  border: 2px solid black;
  border-radius: 16px;
  overflow: hidden;
  background: #b8c4d1;
  position: relative;
  box-shadow: 5px 5px 2px 1px rgb(0 0 0 / 20%);
  animation: flash-alt 1s;
}

@keyframes flash {
  0% {
    border: 4px solid white;
  }
  100% {
    border: 2px solid black;
  }
}

@keyframes flash-alt {
  0% {
    border: 4px solid white;
  }
  100% {
    border: 2px solid black;
  }
}
