.context-menu-out-to-in {
  position: fixed;
  top: 10%;
  right: 0;
  width: 50vw;
  height: 80vh;
  animation: slide-in 1s;
  z-index: 100;
}

.context-menu-long-to-in {
  position: fixed;
  top: 10%;
  right: 0;
  width: 850px;
  height: 80%;
  animation: slide-long-to-in 1s;
  z-index: 100;
}

.context-menu-in-to-long {
  position: fixed;
  top: 10%;
  right: 0;
  width: 97vw;
  height: 80vh;
  animation: slide-in-to-long 1s;
  z-index: 100;
}

.context-menu-out-to-long {
  position: fixed;
  top: 10%;
  right: 0;
  width: 97vw;
  height: 80vh;
  animation: slide-out-to-long 1s;
  z-index: 100;
}

.context-menu-long-to-out {
  position: fixed;
  top: 10%;
  right: -1350px;
  width: 1500px;
  height: 80%;
  animation: slide-long-to-out 1s;
  z-index: 100;
}

.context-menu-nav {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background: #00284f;
  color: white;
  width: 150px !important;
  height: 100%;
  top: 0;
  position: relative;
  box-shadow: 5px 5px 2px 1px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 100;
}

.context-menu-toggle {
  height: 90px;
  background: #00284f;
  color: white;
  border-bottom: 3px solid white;
  align-items: center;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 60px;
  z-index: 100;
}

.context-menu-tab {
  background: #00284f;
  color: white;
  border-bottom: 2px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
  flex: 1;
  max-height: calc(100% / 7);
  z-index: 100;
}

.context-menu-tab-admin {
  background: #4f0028;
  color: white;
  border-bottom: 2px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
  flex: 1;
  max-height: calc(100% / 7);
  z-index: 100;
}

.context-menu-tab-admin-selected {
  background: #6f2048;
  color: white;
  border-bottom: 2px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
  flex: 1;
  max-height: calc(100% / 7);
  z-index: 100;
}

.context-menu-tab-selected {
  background: #20486f;
  color: white;
  border-bottom: 2px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
  flex: 1;
  max-height: calc(100% / 7);
  z-index: 100;
}

.context-menu-in-to-out {
  position: fixed;
  top: 10%;
  right: -700px;
  width: 850px;
  height: 80%;
  animation: slide-in-to-out 1s;
  z-index: 100;
}

.context-menu-start {
  position: fixed;
  top: 10%;
  right: -700px;
  width: 850px;
  height: 80%;
  z-index: 100;
}

.context-menu-divider-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  overflow: hidden;
  background: #b8c4d1;
  position: relative;
  box-shadow: 5px 5px 2px 1px rgb(0 0 0 / 20%);
  z-index: 100;
}

.context-menu-title-box {
  position: relative;
  padding-top: 5px;
  top: 0px;
  background: #00284f;
  color: white;
  height: 90px;
  border-bottom: 3px solid white;
  z-index: 100;
}

.context-menu-title {
  text-align: center;
  font-size: 55px;
  z-index: 100;
}

@keyframes slide-in {
  0% {
    right: -700px;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-in-to-out {
  0% {
    right: 0;
  }
  100% {
    right: -700px;
  }
}

@keyframes slide-in-to-long {
  0% {
    width: 850px;
  }
  100% {
    width: 1500px;
  }
}

@keyframes slide-long-to-in {
  0% {
    width: 1500px;
  }
  100% {
    width: 850px;
  }
}

@keyframes slide-long-to-out {
  0% {
    right: 0;
  }
  100% {
    right: -1350px;
  }
}

@keyframes slide-out-to-long {
  0% {
    right: -1350px;
  }
  100% {
    right: 0;
  }
}

.context-menu-divider-content-reselect {
  border: 2px solid black;
  overflow: hidden;
  background: #b8c4d1;
  position: relative;
  box-shadow: 5px 5px 2px 1px rgb(0 0 0 / 20%);
  animation: flash 1s;
  z-index: 100;
}

.context-menu-divider-content-reselect-alt {
  border: 2px solid black;
  overflow: hidden;
  background: #b8c4d1;
  position: relative;
  box-shadow: 5px 5px 2px 1px rgb(0 0 0 / 20%);
  animation: flash-alt 1s;
  z-index: 100;
}

@keyframes flash {
  0% {
    border: 4px solid white;
  }
  100% {
    border: 2px solid black;
  }
}

@keyframes flash-alt {
  0% {
    border: 4px solid white;
  }
  100% {
    border: 2px solid black;
  }
}
