.announcements-bar {
  bottom: 0px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 55px;
  background-color: #00284f;
}

.announcements-heading {
  background-color: navy;
  color: white;
  position: relative;
}

.marquee {
  white-space: nowrap;
  display: inline-block;
  font-family:
    DejaVu Sans Mono,
    monospace;
  font-size: 32px;
  color: #ffffff;
  width: 100%;
  margin: 0;
  text-align: right;
  transform: translateX(100%);
  position: fixed;
  bottom: 0;
}
