.pathfindingButton {
  width: min(var(--init-width) * 3, var(--init-height) * 3);
  height: min(var(--init-width), var(--init-height));
  font-size: calc(min(var(--init-width), var(--init-height)) / 1.7);
  border-radius: 16px;
  color: white;
  background-color: #00284f;
  border: 2px solid black;
  padding-left: 10px;
}
