.service-request-container {
  flex-flow: column;
  display: flex;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.request-button {
  height: 40px;
  width: 300px;
  justify-items: center;
  border-radius: 8px;
  background-color: #7ab5f6;
}

.service-button-text {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.request-nav-style {
  color: #ffffff;
  background: #00284f;
  border: 2px solid black;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  width: 350px;
  height: 50px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 40px;
}
