.asdf-service-request-container {
  overflow-y: auto;
  font-weight: bold;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: calc(100% - 90px);
  color: white;
  font-size: 20px;
  gap: 20px;

  flex-flow: column;
  display: flex;
  /*flex-direction: column;*/
  /*text-decoration: none;*/
  text-align: center;
  align-items: center;
  /*justify-content: center;*/
  /*font-size: 16px;*/
}

.request-button {
  height: 40px;
  width: 300px;
  justify-items: center;
  border-radius: 8px;
  background-color: #7ab5f6;
}

.service-button-text {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.request-nav-style {
  color: #ffffff;
  background: #00284f;
  border: 4px solid white;
  font-size: 30px;
  border-radius: 5px;
  padding: 5px;
  width: 350px;
  height: 100px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  cursor: pointer;
  /*margin-bottom: 40px;*/
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
