.container-div {
  overflow-y: scroll;
}

.asdf2-text-directions-container {
  overflow-y: scroll;
  font-weight: bold;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: calc(100% - 90px);
  color: white;
  font-size: 20px;
  gap: 20px;

  flex-flow: column;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
