.zoom-button {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  color: white;
  background-color: #00284f;
  border: 2px solid black;
}

.zoom-button:hover {
  background-color: #4c6883;
}

.zoom-button:active {
  background-color: #99a9b8;
}

.plus-button {
  transform: translate(10px, 10px);
}

.whole-graph-button {
  transform: translate(190px, 10px);
}

.zoom-amount {
  transform: translate(50px, 10px);
  width: 50px;
}

.minus-button {
  transform: translate(110px, 10px);
}

.home-button {
  transform: translate(150px, 10px);
}

.show-detail-button {
  transform: translate(230px, 10px);
}

.third-floor {
  transform: translateX(10px);
  bottom: 240px;
}

.second-floor {
  transform: translateX(10px);
  bottom: 200px;
}

.first-floor {
  transform: translateX(10px);
  bottom: 160px;
}

.lower-floor {
  transform: translateX(10px);
  bottom: 120px;
}

.lowest-floor {
  transform: translateX(10px);
  bottom: 80px;
}

.path-floor {
  background-color: lightblue;
}

/* Overall Toggle Button*/
.toggle-button {
  position: fixed;
  transform: translate(20px, 50px);
  cursor: pointer;
}

/* Hide the default checkbox*/
.toggle-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-button input:checked ~ .checkmark {
  background-color: #ffffff;
}

/* toggle edges checkbox*/
.toggle-nodes {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #00284f;
}
