:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  background-color: #ffffff;
  font-size: 18px;
  line-height: 1.4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --init-width: 30px;
  --init-height: 30px;
  --left-adjust: 0px;
  --small-width: min(850px, 90vw);
  --long-width: min(1500px, 90vw);
  --context-width: calc(min(var(--init-width), var(--init-height)) * 2.5);
  --text-size: calc(min(var(--init-width), var(--init-height)) / 2.7);
}

@media (min-width: 500px) {
  :root {
    --init-width: 40px;
  }
}
@media (min-width: 800px) {
  :root {
    --init-width: 60px;
  }
}
@media (min-width: 2000px) {
  :root {
    --init-width: 100px;
  }
}
@media (min-width: 3000px) {
  :root {
    --init-width: 140px;
  }
}
@media (max-height: 410px) {
  :root {
    --left-adjust: 38px;
  }
}
@media (min-height: 500px) {
  :root {
    --init-height: 40px;
  }
}
@media (min-height: 1000px) {
  :root {
    --init-height: 60px;
  }
}
@media (min-height: 2000px) {
  :root {
    --init-height: 100px;
  }
}
@media (min-height: 3000px) {
  :root {
    --init-height: 140px;
  }
}

body {
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  #display: flex;
  #flex-direction: column;
}

.heading-text {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -1.6px;
  font-weight: bold;
}

.text-block {
  max-width: 600px;
}

.example-component {
  background-color: cyan;
}
